
@import "mixins";

$xs: 0px;
$sm: 744px;
$md: 1200px;
$lg: 1720px;
$xl: 1720px;



$white: #ffffff;
$black: #000000;
$light-grey: #E1E5EC;

//todo use color variables below
$primary-1: #4FC9FF;
$error: #FF4A47;
$warning: #FFCC16;
$default-text-color: $white;







